@font-face {
  font-family: 'UhBee_SeHyun_Regular';
  font-weight: normal;
  src: url('/public/fonts/UhBee_SeHyun_Regular.ttf') format('truetype');

}

body {
  font-family: 'UhBee_SeHyun_Regular';
}

.red-button {
  border-radius: 13px;
    color: #DC2626;
    background: linear-gradient(138.66deg, rgba(255, 255, 255, 0.85) 23.4%, rgba(220, 38, 38, 0.85) 133.9%);
    backdrop-filter: blur(10px);
    box-shadow: -2px 2px 4px 0px #FFFFFF inset,
                -4px -4px 6px 0px #FECDD3 inset,
                -0.4px -0.4px 2px 0px #FDA4AF inset;
    cursor: pointer;
    border: solid 1px #FDA4AF;
}